@media (max-width: 1440px){

.piece {

    width: 150.24px;
    height: 297.98px;
    position: absolute;
  left: 24.17%;
  right: 65.4%;
  top: 51.78%;
  bottom: 15.11%;

  }

  .piece1 {

    width: 52.96px;
    height: 183.47px;
    position: absolute;
  left: 35.97%;
  right: 60.35%;
  top: 22.11%;
  bottom: 57.5%;

  }

.piece2 {
  width: 150.24px;
  height: 290.6px;
  position: absolute;
left: 52.08%;
right: 37.48%;
top: 38.89%;
bottom: 28.82%;

}

.piece3 {
  width: 125.19px;
  height: 198.25px;
  position: absolute;
left: 32.01%;
right: 59.29%;
top: 46.33%;
bottom: 31.64%;

}


.piece4 {
  width: 91.13px;
  height: 230.26px;
  position: absolute;
left: 58.61%;
right: 35.06%;
top: 2.89%;
bottom: 71.53%;

}

.piece5 {
  width: 113.29px;
  height: 257.35px;
  position: absolute;
  left: 68.82%;
  right: 23.31%;
  top: 42.67%;
  bottom: 28.74%;

}

.piece6 {
  width: 102.2px;
  height: 82.5px;
  position: absolute;
  left: 44.1%;
  right: 48.81%;
  top: 86.78%;
  bottom: 4.06%;

}

.piece7 {
  width: 156.98px;
  height: 293.06px;
  position: absolute;
  left: 43.26%;
  right: 45.83%;
  top: 3.56%;
  bottom: 63.88%;

}

.piece8 {
  width: 87.43px;
  height: 120.06px;

  position: absolute;
  left: 32.92%;
  right: 61.01%;
  top: 4.22%;
  bottom: 82.44%;

}

.piece9 {
  width: 67.73px;
  height: 196.24px;

  position: absolute;
  left: 24.65%;
  right: 70.64%;
  top: 23.67%;
  bottom: 54.53%;

}

.piece10 {

  width: 96.05px;
  height: 227.87px;
  position: absolute;
  left: 60.07%;
  right: 33.26%;
  top: 29.78%;
  bottom: 44.9%;

}

.piece11 {

  width: 51.72px;
  height: 86.19px;
  position: absolute;
  left: 45.83%;
  right: 50.57%;
  top: 66.56%;
  bottom: 23.87%;

}

.piece12 {

  width: 91.04px;
  height: 183.34px;
  position: absolute;
  left: 61.74%;
  right: 31.94%;
  top: 63.33%;
  bottom: 16.3%;

}

.piece13 {

  width: 101.24px;
  height: 176.08px;
  position: absolute;
  left: 53.47%;
  right: 39.5%;
  top: 73.89%;
  bottom: 6.55%;

}

.piece14 {


    width: 71.43px;
    height: 171.16px;
    position: absolute;
    left: 68.82%;
    right: 26.22%;
    top: 22.11%;
    bottom: 58.87%;

}

.piece15 {

  width: 116.25px;
  height: 264.74px;
  position:absolute;
  left: 40.69%;
  right: 51.23%;
  top: 36.11%;
  bottom: 34.47%;

}

.piece16 {

  width: 51.1px;
  height: 135.44px;
  position: absolute;
  left: 37.15%;
  right: 59.3%;
  top: 74%;
  bottom: 10.95%;

}

}





@media (max-width: 1366px){

  .piece {

      width: 129px;
      height: 256px;
      position: absolute;
  left: 26.21%;
  right: 64.35%;
  top: 52.34%;
  bottom: 14.32%;


    }

    .piece1 {

      width: 45px;
      height: 158px;
      position: absolute;
left: 36.9%;
right: 59.81%;
top: 22.53%;
bottom: 56.9%;

    }

  .piece2 {
    width: 129px;
    height: 249px;
    position: absolute;
    left: 51.46%;
    right: 39.09%;
    top: 39.45%;
    bottom: 28.12%;

  }

  .piece3 {
    width: 107px;
    height: 170px;
    position: absolute;
left: 33.31%;
right: 58.86%;
top: 46.88%;
bottom: 30.99%;


  }


  .piece4 {
    width: 78px;
    height: 197px;
    position: absolute;
left: 57.39%;
right: 36.9%;
top: 3.26%;
bottom: 71.09%;


  }

  .piece5 {
    width: 97px;
    height: 221px;
    position: absolute;
left: 66.62%;
right: 26.28%;
top: 43.23%;
bottom: 27.99%;

  }

  .piece6 {
    width: 88px;
    height: 70px;
    position: absolute;
    left: 44.22%;
    right: 49.34%;
    top: 87.63%;
    bottom: 3.26%;;

  }

  .piece7 {
    width: 135px;
    height: 251px;
    position: absolute;
    left: 43.48%;
    right: 46.63%;
    top: 3.91%;
    bottom: 63.41%;

  }

  .piece8 {
    width:75px ;
    height: 103px;
    position: absolute;
left: 34.11%;
right: 60.4%;
top: 4.56%;
bottom: 82.03%;


  }

  .piece9 {
    width: 58px;
    height: 169px;
    position: absolute;
left: 26.65%;
right: 69.11%;
top: 24.09%;
bottom: 53.91%;

  }

  .piece10 {
    width: 82px;
    height: 196px;
    position: absolute;
left: 58.71%;
right: 35.29%;
top: 30.21%;
bottom: 44.27%;


  }

  .piece11 {
    width: 44px;
    height: 73px;
    position: absolute;
left: 45.83%;
right: 50.95%;
top: 67.32%;
bottom: 23.18%;


  }

  .piece12 {
    width: 78px;
    height: 157px;
    position: absolute;
left: 60.18%;
right: 34.11%;
top: 64.06%;
bottom: 15.49%;


  }

  .piece13 {
    width: 87px;
    height: 151px;
    position: absolute;
left: 52.71%;
right: 40.92%;
top: 74.61%;
bottom: 5.73%;


  }

  .piece14 {
    width: 61px;
    height: 147px;
    position: absolute;
left: 66.62%;
right: 28.92%;
top: 22.53%;
bottom: 58.33%;


  }

  .piece15 {
    width: 100px;
    height: 228px;
    position: absolute;
left: 41.14%;
right: 51.54%;
top: 36.59%;
bottom: 33.72%;


  }

  .piece16 {
    width: 44px;
    height: 116px;
    position: absolute;
left: 37.92%;
right: 58.86%;
top: 74.74%;
bottom: 10.16%;


  }

}


@media screen and (max-width: 1280px){

  .piece {

      width: 129px;
      height: 256px;
      position: absolute;
left: 24.61%;
right: 65.31%;
top: 52.25%;
bottom: 15.75%;



    }

    .piece1 {

      width: 45px;
      height: 158px;
      position: absolute;
left: 36.02%;
right: 60.47%;
top: 23.62%;
bottom: 56.62%;

    }

  .piece2 {
    width: 129px;
    height: 249px;
    position: absolute;
left: 51.56%;
right: 38.36%;
top: 39.88%;
bottom: 29%;

  }

  .piece3 {
    width: 107px;
    height: 170px;
    position: absolute;
left: 32.19%;
right: 59.45%;
top: 47%;
bottom: 31.75%;


  }


  .piece4 {
    width: 78px;
    height: 197px;
    position: absolute;
  left: 57.89%;
  right: 36.02%;
  top: 5.12%;
  bottom: 70.25%;


  }

  .piece5 {
    width: 97px;
    height: 221px;
    position: absolute;
left: 67.73%;
right: 24.69%;
top: 43.5%;
bottom: 28.88%;

  }

  .piece6 {
    width: 88px;
    height: 70px;
    position: absolute;
left: 43.83%;
right: 49.3%;
top: 86.12%;
bottom: 5.12%;

  }

  .piece7 {
    width: 135px;
    height: 251px;
    position: absolute;
left: 43.05%;
right: 46.41%;
top: 5.75%;
bottom: 62.88%;

  }

  .piece8 {
    width:75px ;
    height: 103px;
    position: absolute;
left: 33.05%;
right: 61.09%;
top: 6.38%;
bottom: 80.75%;


  }

  .piece9 {
    width: 58px;
    height: 169px;
    position: absolute;
left: 25.08%;
right: 70.39%;
top: 25.12%;
bottom: 53.75%;

  }

  .piece10 {
    width: 82px;
    height: 196px;
    position: absolute;
left: 59.3%;
right: 34.3%;
top: 31%;
bottom: 44.5%;


  }

  .piece11 {
    width: 44px;
    height: 73px;
    position: absolute;
left: 45.55%;
right: 51.02%;
top: 66.62%;
bottom: 24.25%;


  }

  .piece12 {
    width: 78px;
    height: 157px;
    position: absolute;
left: 60.86%;
right: 33.05%;
top: 63.5%;
bottom: 16.88%;


  }

  .piece13 {
    width: 87px;
    height: 151px;
    position: absolute;
  left: 52.89%;
  right: 40.31%;
  top: 73.62%;
  bottom: 7.5%;


  }

  .piece14 {
    width: 61px;
    height: 147px;
    position: absolute;
left: 67.73%;
right: 27.5%;
top: 23.62%;
bottom: 58%;


  }

  .piece15 {
    width: 100px;
    height: 228px;
    position: absolute;
left: 40.55%;
right: 51.64%;
top: 37.12%;
bottom: 34.38%;


  }

  .piece16 {
    width: 44px;
    height: 116px;
    position: absolute;
left: 37.11%;
right: 59.45%;
top: 73.75%;
bottom: 11.75%;


  }


}
@media screen and (max-width: 768px){

  .piece {

width: 134px;
height: 266px;
position: absolute;
left: 6.12%;
right: 76.43%;
top: 51.86%;
bottom: 22.17%;




    }

    .piece1 {

      width: 47px;
      height: 164px;
      position: absolute;
      left: 25.91%;
      right: 67.97%;
      top: 28.61%;
      bottom: 55.37%;

    }

  .piece2 {
    width: 134px;
    height: 259px;
    position: absolute;
left: 52.73%;
right: 29.82%;
top: 41.8%;
bottom: 32.91%;


  }

  .piece3 {
    width: 111px;
    height: 176px;
    position: absolute;
left: 19.27%;
right: 66.28%;
top: 47.66%;
bottom: 35.16%;



  }


  .piece4 {
    width: 81px;
    height: 205px;
    position: absolute;
left: 63.67%;
right: 25.78%;
top: 13.57%;
bottom: 66.41%;



  }

  .piece5 {
    width: 101px;
    height: 230px;
    position: absolute;
left: 80.73%;
right: 6.12%;
top: 44.73%;
bottom: 32.81%;


  }

  .piece6 {
    width: 91px;
    height: 73px;
    position: absolute;
left: 39.45%;
right: 48.7%;
top: 79.3%;
bottom: 13.57%;


  }

  .piece7 {
    width: 140px;
    height: 262px;
    position: absolute;
left: 38.02%;
right: 43.75%;
top: 14.06%;
bottom: 60.35%;


  }

  .piece8 {
    width:78px ;
    height: 107px;
    position: absolute;
    left: 20.7%;
    right: 69.14%;
    top: 14.65%;
    bottom: 74.9%;



  }

  .piece9 {
    width: 61px;
    height: 175px;
    position: absolute;
left: 6.9%;
right: 85.16%;
top: 29.88%;
bottom: 53.03%;


  }

  .piece10 {
    width: 85px;
    height: 203px;
    position: absolute;
left: 66.15%;
right: 22.79%;
top: 34.67%;
bottom: 45.51%;



  }

  .piece11 {
    width: 46px;
    height: 77px;
    position: absolute;
left: 42.32%;
right: 51.69%;
top: 63.48%;
bottom: 29%;



  }

  .piece12 {
    width: 81px;
    height: 163px;
    position: absolute;
left: 68.88%;
right: 20.57%;
top: 60.94%;
bottom: 23.14%;



  }

  .piece13 {
    width: 90px;
    height: 157px;
    position: absolute;
left: 55.08%;
right: 33.2%;
top: 69.24%;
bottom: 15.43%;


  }

  .piece14 {
    width: 64px;
    height: 153px;
    position: absolute;
    left: 80.73%;
    right: 10.94%;
    top: 28.61%;
    bottom: 56.45%;

  }

  .piece15 {
    width: 104px;
    height: 236px;
    position: absolute;
left: 33.72%;
right: 52.73%;
top: 39.65%;
bottom: 37.3%;


  }

  .piece16 {
    width: 45px;
    height: 121px;
    position: absolute;
left: 27.86%;
right: 66.28%;
top: 69.24%;
bottom: 18.95%;



  }

}



}
@media screen and (max-width: 320px){

  .piece {

width: 55px;
height: 109px;
position: absolute;
left: 6.56%;
right: 76.25%;
top: 51.79%;
bottom: 25.26%;


}

    .piece1 {

      width: 19px;
      height: 67px;
      position: absolute;
left: 26.25%;
right: 67.81%;
top: 31.16%;
bottom: 54.74%;

    }

  .piece2 {
    width: 55px;
    height: 107px;
    position: absolute;
left: 52.81%;
right: 30%;
top: 42.74%;
bottom: 34.74%;


  }

  .piece3 {
    width: 46px;
    height: 73px;
    position: absolute;
    left: 19.69%;
    right: 65.94%;
    top: 48%;
    bottom: 36.63%;



  }


  .piece4 {
    width: 34px;
    height: 85px;
    position: absolute;
left: 63.44%;
right: 25.94%;
top: 17.68%;
bottom: 64.42%;





  }

  .piece5 {
    width: 42px;
    height: 94px;
    position: absolute;
left: 80.31%;
right: 6.56%;
top: 45.47%;
bottom: 34.74%;



  }

  .piece6 {
    width: 38px;
    height: 30px;

    position: absolute;
    left: 39.38%;
    right: 48.75%;
    top: 76.21%;
    bottom: 17.47%;



  }

  .piece7 {
    width: 58px;
    height: 109px;
    position: absolute;
left: 38.12%;
right: 43.75%;
top: 18.11%;
bottom: 58.95%;




  }

  .piece8 {
    width:32px ;
    height: 45px;
    position: absolute;
left: 20.94%;
right: 69.06%;
top: 18.53%;
bottom: 72%;



  }

  .piece9 {
    width: 25px;
    height: 72px;
    position: absolute;
left: 7.5%;
right: 84.69%;
top: 32.21%;
bottom: 52.63%;



  }

  .piece10 {
    width: 35px;
    height: 83px;
    position: absolute;
left: 65.94%;
right: 23.12%;
top: 36.63%;
bottom: 45.89%;




  }

  .piece11 {
    width: 18px;
    height: 32px;
    position: absolute;
left: 42.5%;
right: 51.88%;
top: 62.11%;
bottom: 31.16%;





  }

  .piece12 {
    width: 33px;
    height: 67px;
    position: absolute;
left: 68.75%;
right: 20.94%;
top: 59.79%;
bottom: 26.11%;




  }

  .piece13 {
    width: 37px;
    height: 64px;
    position: absolute;
left: 55%;
right: 33.44%;
top: 67.37%;
bottom: 19.16%;



  }

  .piece14 {
    width: 27px;
    height: 63px;
    position: absolute;
left: 80.31%;
right: 11.25%;
top: 31.16%;
bottom: 55.58%;


  }

  .piece15 {
    width: 42px;
    height: 97px;
    position: absolute;
left: 34.06%;
right: 52.81%;
top: 41.05%;
bottom: 38.53%;



  }

  .piece16 {
    width: 19px;
    height: 49px;
    position: absolute;
left: 28.12%;
right: 65.94%;
top: 67.37%;
bottom: 22.32%;


  }

}
