@import "reset.css";

body {


  background: #D7A4FF;


}



.piece {

  animation: animpiece 0.5s  1 ;
  animation-fill-mode: both;
  animation-delay: 1.5s;

}

.line1 {

  animation: fade 0.5s  1 ;
  animation-fill-mode: both;
  animation-delay: 3S;

}

@keyframes animpiece {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(164px, -43px, 0px);}

}

@keyframes animpiece1 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(69.52px, 1px, 0px);}

}

@keyframes animpiece2 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-52.61px, 0px, 0px);}

}

@keyframes animpiece3 {

0% {transform: translate3d(50px, 40px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(76.94px, -28.79px, 0px);}

}

@keyframes animpiece4 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-99.34px, 105px, 0px);}

}

@keyframes animpiece5 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-177.69px, -24px, 0px);}

}

@keyframes animpiece6 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-4px, -101.05px, 0px);}

}

@keyframes animpiece7 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(0px, 71.72px, 0px);}

}

@keyframes animpiece8 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(113.36px, 87px, 0px);}

}

@keyframes animpiece9 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(165.05px, 32px, 0px);}

}

@keyframes animpiece10 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-97.05px, 20px, 0px);}

}

@keyframes animpiece11 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(0px, -58.18px, 0px);}

}

@keyframes animpiece12 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-144.33px, -28px, 0px);}

}

@keyframes animpiece13 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-95px, -79px, 0px);}

}

@keyframes animpiece14 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(-155.63px, 78px, 0px);}

}

@keyframes animpiece15 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(1px, -7px, 0px);}

}

@keyframes animpiece16 {

0% {transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;}

100% {transform: translate3d(94.22px, -80px, 0px);}

}



@keyframes fade {

from {opacity:0;}

to {opacity:1;}

}
